hedhahowa/angularmobility/wf_webhook.json
[{"updatedAt":"2026-04-20T10:48:54.112Z","createdAt":"2026-04-20T10:48:54.112Z","id":"G4lbdbrSg05nAvfs","name":"Mobility Analytics — Full ML Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"c05dd4e2-4222-4568-a6da-6da9ecf24b2d","name":"⏰ Cron — Retrain Every 1h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,64]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":1}]}},"id":"ab7fd482-f5ad-483a-993d-8394dacfd527","name":"⏰ Cron — Inference Every 1h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,464]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"05be01ca-8ef6-47e4-ae84-02a6f9262c81","name":"⏰ Cron — Drift Check 2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-64,864]},{"parameters":{"httpMethod":"GET","path":"ml-pipeline-trigger","responseMode":"responseNode","options":{}},"id":"51844d91-0d1f-4957-a897-192f1446cb95","name":"🔗 Webhook — External Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-64,272],"webhookId":"ml-pipeline-trigger"},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/retrain/","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"n8n-cron-schedule"}]},"options":{"timeout":30000}},"id":"5467af9f-369b-4900-a516-12a2e20241eb","name":"🔄 HTTP — Trigger Retraining","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,64],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/webhook/","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ event: $json.body?.event || 'retrain', ministry: $json.body?.ministry || 'all' }) }}","options":{"timeout":30000}},"id":"ff172603-9af3-41b5-be92-7e7b83052c94","name":"🔄 HTTP — Forward Webhook Event","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,272],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/inference/","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"n8n-cron-inference"}]},"options":{"timeout":30000}},"id":"4a5152a4-08c2-44d8-af6b-26fccbf69e8f","name":"🔮 HTTP — Trigger Inference","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,464],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/drift/","sendBody":true,"bodyParameters":{"parameters":[{"name":"threshold","value":"0.15"}]},"options":{"timeout":30000}},"id":"4a219077-0d54-4b8a-8ad6-891434cc2c88","name":"📊 HTTP — Check Data Drift","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,864],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{"amount":2,"unit":"minutes"},"id":"107f87c0-b151-44ab-a80e-10c88c58acf6","name":"⏳ Wait 2min (Retrain)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,64],"webhookId":"205d9836-2d45-4869-9fa7-2b1ee2fa2051"},{"parameters":{"amount":2,"unit":"minutes"},"id":"e9f7469d-bfee-470a-9e33-ca1f233e3f86","name":"⏳ Wait 2min (Inference)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,464],"webhookId":"cdf5aeed-0e2c-4438-a585-00aa3a66383c"},{"parameters":{"url":"http://host.docker.internal:8000/api/dashboard/automation/status/","options":{"timeout":15000}},"id":"46fb24fc-3480-4dbf-8505-ca5c1b3c9ed3","name":"📋 HTTP — Check Retrain Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,64],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"url":"http://host.docker.internal:8000/api/dashboard/automation/inference/","options":{"timeout":15000}},"id":"0e805d16-95dc-45b6-987d-62a0b4d18c75","name":"📋 HTTP — Check Inference Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,464],"retryOnFail":true,"maxTries":2,"waitBetweenTries":3000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-drift-detected","leftValue":"={{ $json.drift_detected }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"2bb611c5-faee-4931-ac52-24070b817bcf","name":"🔀 IF — Drift Detected?","type":"n8n-nodes-base.if","typeVersion":2,"position":[448,864]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/retrain/","sendBody":true,"bodyParameters":{"parameters":[{"name":"source","value":"n8n-drift-auto-retrain"}]},"options":{}},"id":"60960189-a98d-4598-9b70-c6d00499be9f","name":"🔄 HTTP — Auto-Retrain (Drift)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,816],"retryOnFail":true,"maxTries":3,"waitBetweenTries":5000},{"parameters":{},"id":"f9486dc6-0865-4711-b5b8-2d1b20d667af","name":"💻 Execute — Log No Drift","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[704,944]},{"parameters":{},"id":"0c8febd8-4c31-4fb1-ab59-cd53f3ecd05b","name":"💻 Execute — Log Retrain Result","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,64]},{"parameters":{},"id":"f203d952-06fc-42ab-a2bd-509b4f988553","name":"💻 Execute — Log Inference Result","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[896,464]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/test-email/","sendBody":true,"bodyParameters":{"parameters":[{"name":"recipient","value":"emna.awini.work@gmail.com"}]},"options":{}},"id":"9c0fe184-5c35-40c8-b70e-070458cbbb54","name":"📧 HTTP — Email Retrain Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,64]},{"parameters":{"method":"POST","url":"http://host.docker.internal:8000/api/dashboard/automation/test-email/","sendBody":true,"bodyParameters":{"parameters":[{"name":"recipient","value":"emna.awini.work@gmail.com"}]},"options":{}},"id":"3cc7ec44-f965-446c-9e6c-2fe7f8f23e7f","name":"📧 HTTP — Email Inference Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,464]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ status: 'accepted', message: 'Pipeline triggered via n8n webhook', triggered_at: new Date().toISOString() }) }}","options":{}},"id":"739041f8-42bd-41bb-8bf7-b6b6bfb1b8c3","name":"✅ Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[448,272]},{"parameters":{},"id":"bc092bc3-c1a0-4544-9222-27123c56ed8c","name":"💻 Execute — Log Drift Retrain","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,816]}],"connections":{"⏰ Cron — Retrain Every 1h":{"main":[[{"node":"🔄 HTTP — Trigger Retraining","type":"main","index":0}]]},"⏰ Cron — Inference Every 1h":{"main":[[{"node":"🔮 HTTP — Trigger Inference","type":"main","index":0}]]},"⏰ Cron — Drift Check 2h":{"main":[[{"node":"📊 HTTP — Check Data Drift","type":"main","index":0}]]},"🔗 Webhook — External Trigger":{"main":[[{"node":"🔄 HTTP — Forward Webhook Event","type":"main","index":0}]]},"🔄 HTTP — Forward Webhook Event":{"main":[[{"node":"✅ Respond to Webhook","type":"main","index":0}]]},"🔄 HTTP — Trigger Retraining":{"main":[[{"node":"⏳ Wait 2min (Retrain)","type":"main","index":0}]]},"⏳ Wait 2min (Retrain)":{"main":[[{"node":"📋 HTTP — Check Retrain Status","type":"main","index":0}]]},"🔮 HTTP — Trigger Inference":{"main":[[{"node":"⏳ Wait 2min (Inference)","type":"main","index":0}]]},"⏳ Wait 2min (Inference)":{"main":[[{"node":"📋 HTTP — Check Inference Status","type":"main","index":0}]]},"📊 HTTP — Check Data Drift":{"main":[[{"node":"🔀 IF — Drift Detected?","type":"main","index":0}]]},"🔀 IF — Drift Detected?":{"main":[[{"node":"🔄 HTTP — Auto-Retrain (Drift)","type":"main","index":0}],[{"node":"💻 Execute — Log No Drift","type":"main","index":0}]]},"💻 Execute — Log Retrain Result":{"main":[[{"node":"📧 HTTP — Email Retrain Report","type":"main","index":0}]]},"💻 Execute — Log Inference Result":{"main":[[{"node":"📧 HTTP — Email Inference Report","type":"main","index":0}]]},"📋 HTTP — Check Retrain Status":{"main":[[{"node":"💻 Execute — Log Retrain Result","type":"main","index":0}]]},"📋 HTTP — Check Inference Status":{"main":[[{"node":"💻 Execute — Log Inference Result","type":"main","index":0}]]},"🔄 HTTP — Auto-Retrain (Drift)":{"main":[[{"node":"💻 Execute — Log Drift Retrain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"bf009d7a-c669-48f8-99db-844e1651eb61","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[{"updatedAt":"2026-04-20T10:48:52.488Z","createdAt":"2026-04-20T10:48:52.488Z","id":"jLqi1PP6oxoT7jKB","name":"ML Pipeline"},{"updatedAt":"2026-04-20T10:48:52.452Z","createdAt":"2026-04-20T10:48:52.452Z","id":"u1zlAXTKYBMBHshv","name":"Automation"}],"shared":[{"updatedAt":"2026-04-20T10:48:54.118Z","createdAt":"2026-04-20T10:48:54.118Z","role":"workflow:owner","workflowId":"G4lbdbrSg05nAvfs","projectId":"J6bZr0K3X7gnket8","project":{"updatedAt":"2026-04-19T17:24:19.721Z","createdAt":"2026-04-19T17:23:25.579Z","id":"J6bZr0K3X7gnket8","name":"emma awini <emna.awini.work@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"c2e87a2c-7702-4c21-9c11-11e325ca47a4"}}],"versionMetadata":{"name":null,"description":null}}]